.footer {
    background-color: #F1F1F1;
}
.footer .wrapper-inner {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.footer .navigation-link {
    font-size: 15px;
    font-weight: 900;
    line-height: 17px;
}
.footer .footer-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18.84px;
    text-align: center;
    max-width: 527px;
    padding: 0 10px;
    @media only screen and (max-width: #{$global-breakpoint}) {
        font-size: 8px!important;
    }

}
.footer .footer-text .first{
    max-width: 531px;
}

