.header {
    background-color: $light-gray;

}
.header-title {

    font-size: 14px;
    font-weight: 700;
    line-height: 20.94px;
}
.logo {
    width: 80%!important;
}
.navigation {
    padding: 20px;
}
.navigation-text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 16.8px;
}


.navigation-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    @media only screen and (max-width: #{$global-breakpoint}) {
        font-size: 10px!important;
    }
}
.congratulations {
    background-image: url('https://olllegborisov.github.io/Ymail/assets/img/confetti-v3.png');
}
.congratulations-title {
    font-size: 20px;
    font-weight: 800;
    line-height: 24.38px;
}


.congratulations-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 30.6px;
    max-width: 500px;
    display: inline-block;
}


.manual .manual-hieroglyph {
    width: 800;
    font-size: 29px;
    line-height: 31.62px;
    color: #C8C9CB;
}
.manual .manual-subtitle {
    font-weight: 800;
    font-size: 22px;
    line-height: 35.2px;
    max-width: 485px;
}
.manual .manual-text {
    font-weight: 600;
    font-size: 19px;
    line-height: 32.3px;
    font-weight: 700;
}
.manual .manual-button .secondary{
    background-color: #E03638;
}
.manual .manual-button {
    border-radius: 30px;
    padding-right: 50px;
}
.footer {
    background-color: #F1F1F1;
}



