
<spacer size="17"></spacer>
<row>
    <columns small="6" large="5" >
            <a href="#">
                <img class="header-img" src="https://olllegborisov.github.io/YMail/src/assets/img/logo-v2.png" alt="logo">
            </a>
    </columns>
    <columns small="6" large="7" >
            <row>
                <div align="right">
                    <a class="header-phone" href="tel:+78003331281">8 (800) 333-12-81</a>
                </div>
            </row>
            <row>
                <div align="right">
                <a class="header-phone" href="tel:+74956468096">8 (495) 646-80-96</a>
                </div>
             </row>
    </columns>
</row>