<div class="shopping-list list-first">
    <row>
        <columns  small="4" large="3" valign="middle">
            <a href="#">
                <img class="shopping-list-img" src="https://olllegborisov.github.io/YMail/src/assets/img/abandoned-cart/list-img-1.png" alt="runway x pro">
            </a>
        </columns>
        <columns small="8" large="5" valign="middle">
            <a href="#">
            <span class="shopping-list-name">Беговая дорожка
                Yamaguchi Runway Pro-X</span>    
            </a>
        </columns>
        <columns small="8" large="4"  valign="middle">
            
            <span class="shopping-list-quantity">
                <center align="right">   
                    1 шт.
                </center>
            </span>
        </columns>
        <columns small="4" large="4" valign="middle">
            <span align="center" class="shopping-list-price">
                <center align="right">
                    218 000 ₽ 
                </center>
            </span>
        </columns>
    </row>
</div>
<spacer size="2"></spacer>
<div class="shopping-list list-last">
    <row>
        <columns  small="4" large="3" valign="middle">
            <a href="#">
                <img class="shopping-list-img" src="https://olllegborisov.github.io/YMail/src/assets/img/abandoned-cart/list-img-2.png" alt="runway x pro">
            </a>
        </columns>
        <columns   small="8" large="5" valign="middle">
            <a href="#">
                <span class="shopping-list-name">Беговая дорожка
                Yamaguchi Max Pro</span>    
            </a>

        </columns>
        <columns  small="8" large="4" valign="middle">
            <span class="shopping-list-quantity">
                <center align="right">   
                    1 шт.
                </center>
            </span>
        </columns>
        <columns  small="4" large="4" valign="middle" >
            <span class="shopping-list-quantity" >
                <center align="right">
                    325 000 ₽ 
                </center>
            </span>
        </columns>
    </row>
</div>
<spacer size="33"></spacer>
<center>
    <a href="#">
        <img src="https://olllegborisov.github.io/YMail/src/assets/img/abandoned-cart/crawling-line.png" alt="crawling line">
    </a>
</center>
