<wrapper class="footer">
    <spacer size="20"></spacer>
    <row>
        <columns>
            <a targey="_blank" href="#" >
                <img src="https://olllegborisov.github.io/Ymail/assets/img/whatsapp.png" alt="whatsapp">
            </a>
        </columns>
        <columns>

            <a targey="_blank" href="#" >
                <img src="https://olllegborisov.github.io/Ymail/assets/img/youtube.png" alt="youtube">
            </a>
        </columns>
        <columns>
            <a targey="_blank" href="#" >
                <img src="https://olllegborisov.github.io/Ymail/assets/img/telegram.png" alt="telegram">
            </a>
        </columns>
        <columns>
            <a targey="_blank" href="#" >
                <img src="https://olllegborisov.github.io/Ymail/assets/img/vk.png" alt="vkontakte">
            </a>
        </columns>
        <columns>
            <a targey="_blank" href="#" >
                <img src="https://olllegborisov.github.io/Ymail/assets/img/tiktok.png" alt="tiktok">
            </a>
        </columns>
    </row>
</wrapper>