<wrapper class="footer">
    <spacer size-sm="10" size-lg="20"></spacer>
    
    <row>

        <columns small="12" large="12">

        </columns>
        
        <columns small="3" large="4">
            <a class="footer-messenger" target="_blank" href="#" >
                <center>
                    <img  src="https://olllegborisov.github.io/YMail/src/assets/img/whatsapp.png" alt="whatsapp">
                </center>
            </a>
        </columns>
        <columns  small="3" large="4">
            <a class="footer-messenger" target="_blank" href="#" >
                <center>
                    <img  src="https://olllegborisov.github.io/YMail/src/assets/img/youtube.png" alt="youtube">
                </center>
            </a>
        </columns>
        <columns  small="3" large="4" >
            <a class="footer-messenger" target="_blank" href="#" >
                <center>
                    <img align="center" src="https://olllegborisov.github.io/YMail/src/assets/img/telegram.png" alt="telegram">
                </center>
            </a>
        </columns>
        <columns  small="3" large="4">
            <a class="footer-messenger" target="_blank" href="#" >
                <center>
                    <img align="center" src="https://olllegborisov.github.io/YMail/src/assets/img/vk.png" alt="vkontakte">
                </center>
            </a>
        </columns>
        <columns  small="12" large="4">
            <a class="footer-messenger" target="_blank" href="#" >
                <center>
                    <img src="https://olllegborisov.github.io/YMail/src/assets/img/tiktok.png" alt="tiktok">
                </center>
            </a>
        </columns>
        <columns small="12" large="12">
        </columns>
    </row>
    <spacer size-lg="25"></spacer>
    <row>
        <columns  small="4" large="4" >
        <div>
            <center align="center">

                    <a target="_blank" href="https://www.yamaguchi.ru/catalog?utm_source=email&utm_medium=unisender&utm_campaign=inst_runwayx" class="navigation-link">
                        О компании
                    </a>
            </center>
        </div>

            </columns>
        <columns small="4" large="4">
            <div>
                <center align="center">

                    <a target="_blank" href="https://www.yamaguchi.ru/slimness-marathon?utm_source=email&utm_medium=unisender&utm_campaign=inst_runwayx" class="navigation-link">
                        Call-центр
                    </a>
                </center>
            </div>
        </columns>
        <columns small="4" large="4">
            <div>
                <center align="center">

                    <a target="_blank" href="https://www.yamaguchi.ru/journal?utm_source=email&utm_medium=unisender&utm_campaign=inst_runwayx" class="navigation-link">
                        Фитнес
                         </a>
                </center>
            </div>
        </columns>
    </row>
    <spacer size-lg="30"></spacer>
    <center >
        <p class="footer-text">Вы получили это письмо, потому что подписались на рассылку на нашем сайте yamaguchi.ru или при посещении салона YAMAGUCHI.</p>
        <p class="footer-text">Мы стараемся держать Вас в курсе наших новостей, специальных предложений и акций.</p>
        <p class="footer-text" >Если вы больше не хотите получать наши письма или считаете, что они попадают к Вам по ошибке, нажмите отписаться.</p>
        
    </center>

</wrapper>