<wrapper class="footer">
    <spacer size-sm="10" size-lg="20"></spacer>
    
    <row>

        <columns small="1" large="5">

        </columns>
        
        <columns small="2" large="3">
            <a class="footer-messenger" target="_blank" href="https://api.whatsapp.com/send/?phone=79850494106&text&type=phone_number&app_absent=0" >
                <center>
                    <img class="footer-img" src="https://olllegborisov.github.io/YMail/src/assets/img/footer/whatsapp-v3.png" alt="whatsapp">
                </center>
            </a>
        </columns>
        <columns  small="2" large="3">
            <a class="footer-messenger" target="_blank" href="https://www.youtube.com/@YamaguchiRu/featured" >
                <center>
                    <img  class="footer-img" src="https://olllegborisov.github.io/YMail/src/assets/img/footer/youtube.png" alt="youtube">
                </center>
            </a>
        </columns>
        <columns  small="2" large="3" >
            <a class="footer-messenger" target="_blank" href="https://web.telegram.org/a/#-1001392723301" >
                <center>
                    <img class="footer-img" align="center" src="https://olllegborisov.github.io/YMail/src/assets/img/footer/telegram-v2.png" alt="telegram">
                </center>
            </a>
        </columns>
        <columns  small="2" large="3">
            <a class="footer-messenger" target="_blank" href="https://vk.com/yamaguchi" >
                <center>
                    <img class="footer-img" align="center" src="https://olllegborisov.github.io/YMail/src/assets/img/footer/vk.png" alt="vkontakte">
                </center>
            </a>
        </columns>
        <columns  small="2" large="3">
            <a class="footer-messenger" target="_blank" href="#" >
                <center>
                    <img class="footer-img" src="https://olllegborisov.github.io/YMail/src/assets/img/footer/dzen-v2.png" alt="tiktok">
                </center>
            </a>
        </columns>
        <columns small="1" large="5">
        </columns>
    </row>
    <spacer size-lg="25"></spacer>
    <row class="footer-navigation">

        <columns  small="4" large="4" >
            <div>
                <center align="center">
                        <a target="_blank" href="https://www.yamaguchi.ru/about.php" class="navigation-link">
                            О компании
                        </a>
                </center>
            </div>
        </columns>
        <columns small="4" large="5">
            <div>
            <center align="center">
                    <a target="_blank" href="https://www.yamaguchi.ru/contacts.php" class="navigation-link">
                        Call-центр
                    </a>
                </center>
            </div>
        </columns>
        <columns small="4" large="4">
            <div>
            <center align="center">
                    <a target="_blank" href="https://www.yamaguchi.ru/slimness-marathon" class="navigation-link">
                        Фитнес
                    </a>
                </center>
            </div>
        </columns>

    </row>
    <spacer size-lg="30"></spacer>
    <center >
        <p class="footer-text">Вы получили это письмо, потому что подписались на рассылку на нашем сайте yamaguchi.ru или при посещении салона YAMAGUCHI.</p>
        <p class="footer-text">Мы стараемся держать Вас в курсе наших новостей, специальных предложений и акций.</p>
        <p class="footer-text" >Если вы больше не хотите получать наши письма или считаете, что они попадают к Вам по ошибке, нажмите отписаться.</p>
        
    </center>

</wrapper>