<wrapper class="navigation">
    <div  align="center">
        <spacer size="17px"></spacer>
        <spacer size-sm="35" size-lg="65px"></spacer>
                    <a href="https://www.yamaguchi.ru/?utm_source=email&utm_medium=unisender&utm_campaign=inst_runwayx" target="_blank" class="image">
                        <div align="center">
                            <image class="logo" src="https://olllegborisov.github.io/YMail/src/assets/img/logo-v2.png" alt="logo"/></a>
                        </div>
                     </a>
        <spacer size-sm="36.92px" size-lg="76.92px"></spacer>
        
        <row>
            <columns  small="4" large="4" >
            <div>
                <center align="center">

                        <a target="_blank" href="https://www.yamaguchi.ru/catalog?utm_source=email&utm_medium=unisender&utm_campaign=inst_runwayx" class="navigation-link header-nav">
                            КАТАЛОГ
                        </a>
                </center>
            </div>

                </columns>
            <columns small="4" large="4">
                <div>
                    <center align="center">

                        <a target="_blank" href="https://www.yamaguchi.ru/slimness-marathon?utm_source=email&utm_medium=unisender&utm_campaign=inst_runwayx" class="navigation-link header-nav">
                            МАРАФОН
                        </a>
                    </center>
                </div>
            </columns>
            <columns small="4" large="4">
                <div>
                    <center align="center">

                        <a target="_blank" href="https://www.yamaguchi.ru/journal?utm_source=email&utm_medium=unisender&utm_campaign=inst_runwayx" class="navigation-link header-nav">
                            НОВОСТИ
                             </a>
                    </center>
                </div>
			</columns>
        </row>
        
        
    </div>
</wrapper>